// catppuccin mocha

$primary: #89b4fa;
$onPrimary: #cdd6f4;
$primaryContainer: #74c7ec;
$secondary: #cba6f7;
$onSecondary: #9399b2;
$secondaryContainer: #f5c2e7;
$bg: #1e1e2e;
$onBg: #cdd6f4;
$surface: #45475a;
$onSurface: #cdd6f4;
$onSurfaceVariant: #585b70;
$error: #f38ba8;
$onError: #cdd6f4;
$shadow: #1e1e2e;

